
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #00539F;
  --white: #fff;
  --black: #333;
  --orange:#FCD700;
  --greenish: #f8f4ec;
}

@layer base{
  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: roboto;
    transition: 0.5s;

  }
 
  h1{
    @apply font-semibold text-2xl
  }
  h2{
    /* font-weight:600; */
    @apply text-xl pb-2 font-semibold
  } 
  h3{
    @apply text-lg font-semibold mb-2
  }
  p{
    @apply text-base
  }
  

  footer a, footer p, footer h3{
    @apply text-white text-sm

  }
  .newsletter p{
    @apply leading-7 mb-3
  }

  @media screen and (max-width: 600px) {
  
      table,
      th,
      td {
        font-size: 12px;
        padding: 2px;
      }
    }

}