@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #00539F;
  --white: #fff;
  --black: #333;
  --greenish: #f8f4ec;
}

@layer base{
  *{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    @apply font-barlow;

  }
  
  h2{
    @apply font-playfair text-2xl pb-4
  }
}