@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    @apply font-barlow;

  }
  h2{
    @apply font-playfair text-lg py-4
  }
}